.content {
  max-width: 1124px;
  height: 100vh;
  margin: auto;
  position: relative;
  /* box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8); */
}

.left {
  width: 200px;
  height: 100%;
  float: left;
  position: fixed;
  font-size: 2em;
  background-color: #F5F7FA;
}
