.side-nav {
  font-size: 1.8em;;
  margin: 50px 10%;
}

.nav-item {
  margin-top: 1em;
}

.active {
  color: grey;
  border-radius: .5em;
  padding: 3px;
}

.pro-image {
  height: 200px;
  width: 200px;
}

.nav-image {
  margin: 2em 0;
  height: 200px;
  width: 200px;
  position: relative;
}

.image-button {
  bottom: 15px;
  right: 15px;
  position: absolute;
}